/* .container {
    background: linear-gradient(#577ce8, #6ea7f1);
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
/*     padding: 20px; */
  background-color: #B3B3B3;
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  width: 100%;
}

ul {
  list-style: none;
}
