/* .container {
    background: linear-gradient(#577ce8, #6ea7f1);
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
/*     padding: 20px; */
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  width: 100vw;

}

::-webkit-scrollbar {
  display: none;
}



ul {
  list-style: none;
}
